container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from accounts.models import Account; Account.objects.create_superuser('shubham', 'singh', 'shubham92166@gmail.com', 'shubham', 'shani9216')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: greatkart.settings